<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camera Live Stream</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='libs/tocas/tocas.min.css') }}"
    />
    <script src="{{ url_for('static', filename='libs/tocas/tocas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/hls/hls.js') }}"></script>
  </head>
  <body>
    <header>
      <h1>Camera Live Stream</h1>
    </header>
    <noscript>
      <style type="text/css">
        .main-container {
          display: none;
        }
      </style>
      <div class="noscriptmsg">
        You don't have javascript enabled. Good luck with that.
      </div>
    </noscript>
    <main id="main-container">
      <video id="video" width="1920" height="1080" muted autoplay></video>

      <script src="{{ url_for('static', filename='index.js') }}"></script>
      <script type="text/javascript">
        var options = {
          src: "{{ url_for('static', filename='live/' + config.M3U8_FILE) }}",
          videoElement: document.getElementById("video"),
        };
        var player = new HlsTech(options);
        document.addEventListener("DOMContentLoaded", function () {
          player.start();
        });
      </script>
    </main>
  </body>
</html>
